In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

import warnings
warnings.simplefilter("ignore")

In [3]:
blink = pd.read_excel(r"E:\Naresh IT\Project File\Data Analysis Project file\Blinkit\cleaned_blink.xlsx")
pd.set_option("display.max_columns",None)

In [4]:
blink

,Item Fat Content,Item Type,Outlet Establishment Year,Outlet Location Type,Outlet Size,Outlet Type,Sales,Rating
0,Regular,Fruits and Vegetables,2012,Tier 1,Medium,Supermarket Type1,145.4786,5.0
1,Low Fat,Health and Hygiene,2022,Tier 3,Medium,Supermarket Type2,115.3492,5.0
2,Regular,Frozen Foods,2016,Tier 1,Small,Supermarket Type1,165.0210,5.0
3,Regular,Canned,2014,Tier 3,High,Supermarket Type1,126.5046,5.0
4,Low Fat,Soft Drinks,2015,Tier 2,Small,Supermarket Type1,55.1614,5.0
...,...,...,...,...,...,...,...,...
8518,Low Fat,Health and Hygiene,2018,Tier 3,Medium,Supermarket Type3,164.5526,4.0
8519,Low Fat,Snack Foods,2018,Tier 3,Medium,Supermarket Type3,241.6828,4.0
8520,Low Fat,Soft Drinks,2018,Tier 3,Medium,Supermarket Type3,86.6198,4.0
8521,Regular,Dairy,2018,Tier 3,Medium,Supermarket Type3,97.8752,4.0
8522,Regular,Snack Foods,2018,Tier 3,Medium,Supermarket Type3,112.2544,4.0

# 6. Data Analysis

## 1. Analyze most item , most sale and average rating by fat content.

In [5]:
blink["Item Fat Content"].describe()

count        8523
unique          2
top       Low Fat
freq         5517
Name: Item Fat Content, dtype: object

In [6]:
blink["Item Fat Content"].value_counts()

Item Fat Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

In [7]:
blink.groupby(["Item Fat Content"])["Sales"].sum()

Item Fat Content
Low Fat    776319.6884
Regular    425361.8044
Name: Sales, dtype: float64

In [8]:
blink.groupby(["Item Fat Content"])["Rating"].mean()

Item Fat Content
Low Fat    3.966286
Regular    3.965070
Name: Rating, dtype: float64

In [9]:
blink.groupby(["Item Fat Content"])["Outlet Establishment Year"].value_counts()

Item Fat Content  Outlet Establishment Year
Low Fat           2018                         951
                  2015                         609
                  2014                         606
                  2017                         606
                  2016                         598
                  2022                         598
                  2012                         596
                  2020                         594
                  2011                         359
Regular           2018                         512
                  2012                         334
                  2016                         332
                  2020                         332
                  2022                         330
                  2014                         326
                  2017                         324
                  2015                         320
                  2011                         196
Name: count, dtype: int64

#### Observation

- Here most number of items has the low fat.
- Here most sales has made for low fat.
- Average rating for low fat is highest.
- Items that sold the most in a single year which is Low fat in 2018.

## 2. Analyze most item sold and average rating by item type.

In [10]:
blink["Item Type"].value_counts()

Item Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: count, dtype: int64

In [11]:
blink.groupby(["Item Type"])["Rating"].mean()

Item Type
Baking Goods             3.983025
Breads                   3.881275
Breakfast                3.932727
Canned                   3.994299
Dairy                    3.965836
Frozen Foods             3.971145
Fruits and Vegetables    3.956169
Hard Drinks              3.907477
Health and Hygiene       3.986154
Household                3.998681
Meat                     4.023059
Others                   3.954438
Seafood                  3.959375
Snack Foods              3.948917
Soft Drinks              3.920674
Starchy Foods            3.920270
Name: Rating, dtype: float64

In [12]:
blink.groupby(["Item Type"])["Sales"].sum()

Item Type
Baking Goods              81894.7364
Breads                    35379.1198
Breakfast                 15596.6966
Canned                    90706.7290
Dairy                    101276.4616
Frozen Foods             118558.8814
Fruits and Vegetables    178124.0810
Hard Drinks               29334.6806
Health and Hygiene        68025.8388
Household                135976.5254
Meat                      59449.8638
Others                    22451.8916
Seafood                    9077.8700
Snack Foods              175433.9224
Soft Drinks               58514.1670
Starchy Foods             21880.0274
Name: Sales, dtype: float64

### Observation

- Here Fruits and vegetable are sold the most.
- Meat has the most average rating.

## 3. Analyze total sales by year.

In [13]:
blink.groupby(["Outlet Establishment Year"])["Sales"].sum()

Outlet Establishment Year
2011     78131.5666
2012    130476.8598
2014    131809.0156
2015    130942.7802
2016    132113.3698
2017    133103.9070
2018    204522.2570
2020    129103.9604
2022    131477.7764
Name: Sales, dtype: float64

In [14]:
blink.groupby(["Outlet Establishment Year"])["Rating"].mean()

Outlet Establishment Year
2011    3.977117
2012    3.985484
2014    3.949571
2015    3.959957
2016    3.958387
2017    3.944516
2018    3.968148
2020    3.981641
2022    3.971228
Name: Rating, dtype: float64

### Observation

- The sales are high in 2018.
- Average rating is high in 2012

## 4. Analyze the sales and average rating by outlet location type.

In [15]:
blink.groupby(["Outlet Location Type"])["Sales"].sum()

Outlet Location Type
Tier 1    336397.8120
Tier 2    393150.6476
Tier 3    472133.0332
Name: Sales, dtype: float64

In [16]:
blink.groupby(["Outlet Location Type"])["Rating"].mean()

Outlet Location Type
Tier 1    3.977052
Tier 2    3.962011
Tier 3    3.961075
Name: Rating, dtype: float64

### Observation

- In tier 3 locations the sales is high.
- In tier 2 the average sales is high.

## 5. Analyze the sales and average rating by outlet size.

In [17]:
blink.groupby(["Outlet Size"])["Sales"].sum()

Outlet Size
High      248991.5860
Medium    507895.7364
Small     444794.1704
Name: Sales, dtype: float64

In [18]:
blink.groupby(["Outlet Size"])["Rating"].mean()

Outlet Size
High      3.945351
Medium    3.977417
Small     3.963938
Name: Rating, dtype: float64

### Observation

- Medium size outlets has the most sales.
- Medium size outlets has the highest average rating.

## 6. Analyze the sales and average rating by outlet type.

In [19]:
blink.groupby(["Outlet Type"])["Sales"].sum()

Outlet Type
Grocery Store        151939.1490
Supermarket Type1    787549.8928
Supermarket Type2    131477.7764
Supermarket Type3    130714.6746
Name: Sales, dtype: float64

In [20]:
blink.groupby(["Outlet Type"])["Rating"].mean()

Outlet Type
Grocery Store        3.985873
Supermarket Type1    3.963242
Supermarket Type2    3.971228
Supermarket Type3    3.952941
Name: Rating, dtype: float64

## Observation

- Supermarket Type 2 has the most sales.
- Grocery Stores has the highest average rating.

# 7. Analyze the sales.

In [25]:
blink["Sales"].sum()

1201681.4928

In [24]:
blink["Sales"].mean()

140.99278338613163